/* Wave animation styles */
.wave {
  animation: wave 3s linear infinite;
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

footer svg {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* Tailwind Utility classes */

.footer {
  @apply w-screen relative flex flex-col;
}

.footer-content {
  @apply flex flex-col items-center p-8 pt-0 border-border bg-footerBg text-footerText;
}

.footer-social {
  @apply flex justify-center gap-8 mb-6;
}

.social-icon {
  @apply text-4xl lg:text-6xl transition-all duration-300 ease-in-out;
}

.footer-social a:nth-child(1) .social-icon {
  color: theme("colors.instagram");
}

.footer-social a:nth-child(2) .social-icon {
  color: theme("colors.twitter");
}

.footer-social a:nth-child(3) .social-icon {
  color: theme("colors.facebook");
}

.footer-social a:nth-child(4) .social-icon {
  color: theme("colors.linkedin");
}

.social-icon:hover {
  @apply opacity-80;
}

.footer-links {
  @apply flex justify-center gap-8 mb-6;
}

.footer-button {
  @apply self-center text-center px-4 py-2 text-text text-base 
         lg:text-xl lg:px-8 lg:py-4 
         bg-buttonBg border border-border rounded-md cursor-pointer 
         transition-all duration-200 ease-in-out rounded-full;
}

.footer-button:hover {
  @apply bg-accent text-white;
}

.footer-bottom {
  @apply text-center text-sm lg:text-lg text-footerText;
}
