@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive helpers */
.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: flex;
  }
}
